*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(98deg,rgba(133, 230, 239, 0.2) 48%,rgba(7, 221, 142, 0.5) 0%),url(back.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: anim6 6s ease-in-out infinite;
}
.form-wrapper{
    width: 70rem;
    background: linear-gradient(98deg,rgba(133, 230, 239, 0.7) 45%,rgba(7, 221, 142, 1) 0%);
    border-radius: 8%;
    box-shadow: 1rem 1rem 1rem rgb(34, 33, 33);
    position: relative;
    overflow: hidden;
}
.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 12rem;
    visibility: hidden;
    opacity: 0;
}
.change .heading{
    visibility: visible;
    opacity: 1;
}
h3{
    margin-right: 2rem;
    position: absolute;
    left: 36%;
}
.change h3{
    animation: anim3 .5s ease-in-out;
}
@keyframes anim3{
    0%{
        left: -35%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        left: 35%;
        visibility: visible;
        opacity: 1;
    }
}

h2{
    position: absolute;
    right: 29%;
}
.change h2{
    animation: anim4 .5s ease-in-out;
}
@keyframes anim4{
    0%{
        right: -31%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        right: 29%;
        visibility: visible;
        opacity: 1;
    }
}
.form{
    margin-bottom: 20%;
    visibility: hidden;
    opacity: 0;
}
.change .form{
    visibility: visible;
    opacity: 1;
}
.input-wrapper{
    /* font-size: 2rem;
    font-family: monospace;
    font-weight: 800; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 3rem;
    padding: 1rem;
}
.labels{
    font-size: 2rem;
    font-family: monospace;
    font-weight: 800;
    letter-spacing: .2rem;
    position: absolute;
    left: 25%;
}
@keyframes anim1{
    0%{
        left: -25%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        left: 25%;
        visibility: visible;
        opacity: 1;
    }
}
.change .labels{
    animation: anim1 2s ease;
}
.inputs{
    outline: none;
    border: none;
    height: 4rem;
    width: 30rem;
    border-radius: 20rem;
    box-shadow: .1rem .1rem .1rem rgba(7, 221, 142, 0.5);
    position: absolute;
    right: 6%;
    background: transparent;
    border: 2px ridge;
    transform-origin: right;
}
.change .inputs{
    animation: anim2 2s ease;
}
@keyframes anim2{
    0%{
        right: -25%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        right: 6%;
        visibility: visible;
        opacity: 1;
    }
}
input::placeholder{
    padding-left: 20px;
    color: rgb(5, 67, 72);
}
input[type="text"],[type="password"],[type="email"],[type="tel"],[type="date"] {
    box-sizing: border-box;
    padding-left: 10px;
}
.radio-wrapper{
    margin-left:14rem ;
    position: absolute;
    right: 14rem;
    margin-bottom: 1rem;
}
.change .radio-wrapper{
    animation: radio 2s ease;
}
.radio-wrapper span{
    font-size: 2rem;
    margin-left: 1rem;
}
.re-btn{
    margin-left: 2rem;
    background-color: red;
}
.re-btn:focus{
    color: red;
}
.re-btn:focus{
    box-shadow: none;
}
@keyframes radio{
    0%{
        right: -25%;
        visibility: hidden;
        opacity: 0;
    }
    100%{
        right: 14rem;
        visibility: visible;
        opacity: 1;
    }
}
.area{
    outline: none;
    border: none;
    /* height: 4rem;
    width: 30rem; */
    border-radius: 2rem;
    box-shadow: .1rem .1rem .1rem rgba(7, 221, 142, 0.5);
    position: absolute;
    right: 6%;
    background: transparent;
    border: 2px ridge;
    margin-bottom: 8rem;
    transform-origin: right;
}
.change .area{
    animation: anim2 2s ease;
}
textarea::placeholder{
    padding-left: 20px;
    color: rgb(5, 67, 72);
}
textarea:focus{
    box-shadow: .5rem .5rem 1rem black ;
}
option{
    background-color: rgba(7, 221, 142, 0.5) ;
    border-radius: 15rem;
}
option:focus{
    background-color: yellowgreen;
}
.btn{
    width: 15rem;
    height: 4rem;
    border-radius: 20rem;
    background: transparent;
    font-size: 2rem;
    font-family: monospace;
    font-weight: 800;
    letter-spacing: .2rem;
    transition: transform 0.5s;
    position: absolute;
    bottom: 10%;
}
.change .btn{
    animation: anim5 0.9s ease-in-out;
}
.submit{
    left: 30rem;
}
.reset{
    left: 48rem;
}



