body{
    background-image:url(img4.jpeg) ;
    background-size:cover;
    height: 100%;
    width: 100%;
}
.head{
    color:rgb(48, 93, 95);
    background-color: blanchedalmond;
    font-size: 1.2rem;
    margin: 40px;
    position: relative;
    height: 450px;


}
.content{
}
.video{
    position: absolute;
    top:100px;
    left: 1100px;
}
.clr{


    background-color: rgb(235, 193, 131);
}
.head2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    font-style: italic;
    background-color: rgb(218, 190, 147);;
    height: 400px;
    margin: 40px;
    position: relative;
    height: 450px;
}
p{
    margin: 20px;
}